:root {
    --brand-color: #0ea5e9;
    --dark-color: #0f172a;
    --mid-color: #cbd5e1;
    --light-color: #ffffff;
  }
  
  .appHeader {
    background-color: var(--brand-color);
  }
  .appTitle {
    color: var(--dark-color);
    text-align: center;
    padding: 0.5em;
  }